body{
    min-height: 800px;
    border: 8px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.box{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #0071FF;
    font-size: 40pt;
}