*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --background: #000430;
    --secondaryBackground: #171c48;
    --text: #ffffff;
    --purple: #6c63ff;
    --teal: #42e2b8;
}
body{
    background-color: var(--background);
    color: var(--text);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}
.stats-container{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    gap: 50px;
    justify-content: space-between;
    width: 100%;
}
.details{
    width: 100%;
}
#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}
#progress{
    height: 100px;
    width: 0%;
    background-color: var(--teal);
    border-radius: 5px;
    display: flex;
    transition: width 0.3s ease-in-out;
}
#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 32px;
    font-weight: bold;
}

